.profile__info {
    margin: 0;
    padding: 0;
    margin-top: 22px;
    display: grid;
    column-gap: 18px;
    row-gap: 9px;
}

@media screen and (max-width: 424.5px) {
    .profile__info {
        width: 100%;
        margin-top: 26px;
        column-gap: 0;
        row-gap: 8px;
    }
}

@media screen and (min-width: 425px) and (max-width: 767.5px) {
    .profile__info {
        text-align: center;
        margin-left: 36px;
    }
}