.element__image {
    width: 282px;
    height: 282px;
    box-sizing: border-box;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 425px) and (max-width: 767.5px) {
    .element__image {
        width: 200px;
        height: 200px;
    }
}