.footer {
    margin: 0 auto 45px;
    padding: 0;
    max-width: 880px;
}

@media screen and (min-width: 425px) and (max-width: 767.5px) {
    .footer {
        margin-bottom: 36px;
        max-width: 404px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023.5px) {
    .footer {
        max-width: 581px;
    }
}

@media screen and (max-width: 424.5px) {
    .footer {
        max-width: 282px;
    }
}


