.popup__figure-close {
    margin: 0;
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    background-color: #000;
    background: url(../../../images/Close-Icon.png);
    background-position: center;
    position: absolute;
    right: -40px;
    top: -40px;
    cursor: pointer;
    border: 0;
}

.popup__figure-close:hover {
    opacity: 0.6;
    transform: opasity 0.3s ease;
}

@media screen and (max-width: 424.5px) {
    .popup__figure-close {
        min-width: 20px;
        min-height: 20px;
        right: 0;
        top: -36px;
    }
}