.popup {
    min-width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    display: flex;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s linear;
}